<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>starmap</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">20s Price</a>
    <% price1_top3.each do |p1| %>
      <a class="navbar-brand small" href="#"><%= p1['name']+":"+p1['price_level1'].to_s[0..4]+"%" %> </a>
    <% end %>

  </nav>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">20s Volume</a>
    <% volume1_top3.each do |v1| %>
      <a class="navbar-brand small" href="#"><%= v1['name']+":"+v1['volume_level1'].to_s[0..4]+"%" %> </a>
    <% end %>
  </nav>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">40s Price</a>
    <% price2_top3.each do |p1| %>
      <a class="navbar-brand small" href="#"><%= p1['name']+":"+p1['price_level3'].to_s[0..4]+"%" %> </a>
    <% end %>

  </nav>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">40s Volume</a>
    <% volume2_top3.each do |v1| %>
      <a class="navbar-brand small" href="#"><%= v1['name']+":"+v1['volume_level3'].to_s[0..4]+"%" %> </a>
    <% end %>
  </nav>

  <main role="main" class="container">

    <div class="my-3 p-3 bg-white rounded shadow-sm">
    <% weibos.each do | weibo| %>
    <div class="media pt-3">
  <img alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="<%= weibo['user']["profile_image_url"]%>" data-holder-rendered="true">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <%= (weibo['created_at'][0..-11] +"|" +weibo['idstr'])  %>
      <a href="byebye/<%= weibo['id'] %>">Delete</a>
     <strong class="d-block text-gray-dark"><%= weibo['user']['screen_name'] %></strong>
     <%= weibo['text'] %>

     <% if weibo['thumbnail_pic']%>
     <a href="<%= weibo['bmiddle_pic']%>"><img src="<%= weibo['thumbnail_pic']%>"></a>
     <% end %>

     <% if weibo['retweeted_status'] %>
     <%= " | " +weibo['retweeted_status']['text'] %>
       <% if weibo['retweeted_status']['thumbnail_pic'] and weibo['retweeted_status']['bmiddle_pic'] %>
          <a href="<%= weibo['retweeted_status']['bmiddle_pic']%>"><img src="<%= weibo['retweeted_status']['thumbnail_pic']%>"></a>
        <% end %>
     <% end %>
     


   </p>
    </div>
    <% end %>
    </div>
  </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>